root:{  --background-color: #f7f9fc; 
        --main-font-color:#333;
		--main-paper-color:#5c7cfa;
        --light-paper-color:#fff;
		--border-color:grey;
		}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}
body {
  background: var(--background-color);
  color: var(--main-font-color);
  padding: 1rem;
}
#app{  max-width: 900px;
  margin: 0 auto;
  background: var(--light-paper-color);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  padding: 2rem;
  padding-top:0px;
}

#appTitle {text-align: center; font-size: 3rem;  }
#appTop { display: grid; grid-template-columns: max-content auto ; 
          grid-template-rows: auto; padding:5px; font-size:0.8rem;
		  border-radius: 12px; box-shadow: 0 4px 16px rgba(0,0,0,0.1);}
#appTop > div {padding:5px;}		  
#clock {display:inline-block;  font-size:2rem; }
#mainContent { display: grid; grid-template-columns:  1fr; grid-template-rows: 1fr; }

#outputGridsContainer {border-radius: 12px; box-shadow: 0 4px 16px rgba(0,0,0,0.1); padding:15px;}

fieldset {margin:5px; padding:5px; font-size:.8rem; width:fit-content; float:left; border-radius: 8px;}
fieldset > div {float:left; padding-left:0px;}
fieldset > div >* {vertical-align:middle;}
.settings-row {display: grid; grid-template-columns: 1fr 2fr;align-items: center; gap: 0.5rem;}
.settings-label {font-weight: 600;color: #333;}
.settings-input {width: 100%;}
.settings-input:invalid {border-color: #e66;background-color: #fee;}

.modeSelectBtn {font-size:0.7em; color:#404040; padding: 0.2em 0.3em; border-radius: 0.5em; background-color: silver; border: 4px solid grey; cursor: pointer;}
.modeSelectBtn.active {border: 2px solid black; color:blue; font-weight:bold;}

.outputGrid {display: grid; grid-template-columns:max-content; grid-template-rows: auto auto auto auto; padding:1px; margin: 1px; }  
.outputGrid > div {background-color:var(--light-paper-color);  border-color:var(--border-color); padding-left: 5px; padding-right: 5px;  min-height:10px; }
.outputGrid > .TopRow  {background-color:lightgrey; font-weight:bold;}
.outputGrid > .zero {color: #ccc; font-style: italic;}

a:link {color: #888;}
a:visited {color: #888;}
#footer { font-size: 0.6em; color: #888; display: grid; grid-template-columns: auto auto auto; grid-template-rows: auto; margin-top:20px;}

